.filtersMain {
  padding: 8px 16px;
  margin: 10px 0;
}

.filterContainer {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid grey;

  h4 {
    text-decoration: underline;
  }
}

.form {
  margin-bottom: 6px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameContainer,
.symbolContainer {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nameInput,
.symbolInput {
  width: 50%;
  height: 60%;
  border-radius: 4px;
  border: 2px solid #767676;
}


.submitButton {
  background-color: #000066;
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.errorMessage {
  color: red;
  margin-top: 20px;
}